body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 50px;
}

.container {
  max-width: 400px;
  margin: auto;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

input {
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  background: #38bdf8;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.weather {
  margin-top: 20px;
}